* {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.bg {
  background-color: #F2F5FA;
  height: 100vh;
}
.addForm {
  width: 500px;
  margin: auto ;
  border: 1px solid white;
  padding: 15px;
  background-color: white;
  border-radius: 20px;
}

.survay-detail {
  width: 600px;
  margin: auto ;
  border: 1px solid white;
  padding: 15px;
  background-color: white;
  border-radius: 20px;
}

.nav-wrap {
  min-height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(240, 230, 211);
}

.icon {
  cursor: pointer;
  color: #007bff;
}

.icon :hover {
  color: #0056b3;
}